$primary: #1976d2;
$primary-light: #63a4ff;
$primary-dark: #004ba0;

$secondary: #ffff00;
$secondary-light: #ffff5a;
$secondary-dark: #c7cc00;

$grey-light: #ddd;
$grey-medium: #aaa;
$grey-dark: #333;

$white: #fff;
$black: #222;

$success: #80df77;
$error: #e77777;
