@import "styles/colors";

.Button {
  color: $white;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 15px;
  margin: 10px;
  text-transform: uppercase;
  border-radius: 4px;
}

.Primary {
  background-color: $primary;
}

.Success {
  background-color: $success;
}

.Danger {
  background-color: $error;
}
