@import "styles/colors";

.Input {
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: left !important;
}

.InputElement {
  outline: none;
  border: 1px solid $grey-light;
  background-color: $white;
  padding: 4px 7px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.InputElement:focus {
  box-shadow: 0 1px 1px $grey-light;
}

.Invalid {
  border: 2px solid $error;
}
